<div class="login-form">
  <div class="title">Forget Password</div>
  <%= form_with url: "/password/forget_password", method: :post do |f| %>
    <div class="input-boxes">    
      <div class="input-box" >
        <%= f.text_field :email, placeholder: "Enter email" %>
      </div>
    </div>
    <div class="button input-box">         
      <div class="button input-box" >
        <%= f.submit  "Send mail" %>
      </div>
    </div>  
</div>
<% end %>
